.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}
.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
}
.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  /*.sidebar__hearder안에 요소들이 일정한 간격을 띄운다*/
  border-right: 1px solid lightgray;
  padding: 20px;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  /*해당 요소 수직정렬*/
  justify-content: space-between;
  min-width: 10vw;
}
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vvw;
  font-size: 24px !important;
}
/*.MuiSvgIcon-root는 material-ui에서 가져온 아이콘의 클래스네임이다.*/

.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll; /*공간을 넘으면 스크롤로 변함*/
}
